    <div id="page-wrapper" style="min-height: 557px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">WELCOME TO FFAST SSH VPN PANEL</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
		<strong>FFAST Server Information</strong>
		<br><br>
        	<ul
		<li><font color="Blue">OpenSSH :</font> 22</li>
		<li><font color="Blue">Dropbear :</font> 143</li>
		<li><font color="Blue">Stunnel4 :</font> 443</li>
		<li><font color="Blue">Squid3 :</font> 8080, 8000 </li>
		<li><font color="Blue">OpenVPN :</font> TCP 1194 </li>
		<li><font color="Blue">Nginx :</font> 81</li>
		</ul><br>
		<strong>Server owned by:</strong>
		<br><font color="Blue">Richard Caritos Verdadero</font><br>
		<br>
		<strong>Script Modified By:</strong>
		<br><font color="Blue">Rey DC Luar Jr.</font><br>
		
    </div>
</div>
</div>